{% extends 'base.html' %}

{% block content %}
<h1>Document Details</h1>

<div class="card">
    <div class="card-body">
        {% if message %}
            <p>{{ message }}</p>
        {% elif document %}
        <div class="mx-auto" style="max-width: 700px; margin: 0 auto; padding: 10px;">
            <div class="container text-center" style="display: flex; justify-content: space-between;
            padding: 20px; color: #0CB2D0;"> 
                <p > DOCNO: {{document.docno}} </p>
                <p >Rank: {{document.rank}} </p>
                <p >Score: {{document.score}} </p>


            </div>
            
            <div class="text-center">
                <div>
                    <p class="fw-semibold mb-1">Date: {{ document.date }}</p>
                    <p class="fw-semibold mb-1">DOI: {{ document.doi }}</p>
                    <p class="fw-semibold mb-1">Score: {{ document.score }}</p>
                </div>
                
            
            <h2 class="card-title">{{ document.title }}</h2>
            <p class="card-text">{{ document.abstract }}</p>
            </div>
        </div>
            
            
        {% endif %}
    </div>
</div>

<a href="{% url 'search:home' %}" class="btn btn-secondary mt-3">Back to Search</a>
{% endblock content %}
